{% assign provider = site.comments.provider | default:"disqus" %}
{% if provider == "disqus" %}
  {% assign disqus = site.disqus | default:site.disqus_shortname %}
  {% if disqus %}
    <!-- original disqus codes -->
  {% endif %}
{% elsif provider == "utterances" %}
  {% assign utterances = site.utterances %}
  {% if utterances.repo %}
    <script src="https://utteranc.es/client.js"
            repo={{ utterances.repo }}
            issue-term={{ utterances.issue-term }}
            label={{ utterances.label }}
            theme={{ utterances.theme }}
            crossorigin= "anonymous"
            async>
    </script>
  {% endif %}
{% elsif provider == "giscus" %}
  {% assign giscus = site.giscus %}
  {% if site.giscus.repo %}
    <script src="https://giscus.app/client.js"
            data-repo={{ site.giscus.repo }}
            data-repo-id={{ site.giscus.repo-id }}
            data-category={{ site.giscus.category }}
            data-category-id={{ site.giscus.category-id }}
            data-mapping={{ site.giscus.mapping }}
            data-reactions-enabled={{ site.giscus.reaction-enabled }}
            data-theme={{ site.giscus.theme }}
            crossorigin={{ site.giscus.crossorigin }}
            async>
    </script>
  {% endif %}
{% endif %}
