@media (min-width: 80em) {
    .archive {
        padding-right: 10px;
    }
}

@media (min-width: 64em) {
    .archive {
        padding-right: 10px;
    }
}
        
.list__item .archive__item a{
    text-decoration: none !important;
}