@media (min-width: 80em) {
  .archive {
    padding-right: 10px;
  }
}

@media (min-width: 64em) {
  .archive {
    padding-right: 10px;
  }
}

.list__item .archive__item a {
  text-decoration: none !important;
}

.e-content p img,
.e-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
