---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@media (min-width: 80em) {
  .archive {
    padding-right: 10px;
    padding-inline-end: 10px;
  }

  .page {
    padding-inline-end: 10px;
  }
}

@media (min-width: 64em) {
  .archive {
    padding-right: 10px;
    padding-inline-end: 10px;
  }

  .page {
    padding-inline-end: 10px;
  }
}

.archive {
  padding-right: 10px !important;
}